<carousel>
  <li class="carousel-cell">
    <img src="https://source.unsplash.com/800x600/?nature" />
  </li>
  <li class="carousel-cell">
    <img src="https://source.unsplash.com/800x600/?nature" />
  </li>
  <li class="carousel-cell">
    <img src="https://source.unsplash.com/800x600/?nature" />
  </li>
  <li class="carousel-cell">
    <img src="https://source.unsplash.com/800x600/?nature" />
  </li>
  <li class="carousel-cell">
    <img src="https://source.unsplash.com/800x600/?nature" />
  </li>
  <li class="carousel-cell">
    <img src="https://source.unsplash.com/800x600/?nature" />
  </li>
</carousel>

<ul>
  <li class="carousel-cell">
    <img src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" />
  </li>
  <li class="carousel-cell">
    <img src="https://homepages.cae.wisc.edu/~ece533/images/arctichare.png" />
  </li>
  <li class="carousel-cell">
    <img src="https://homepages.cae.wisc.edu/~ece533/images/boat.png" />
  </li>
  <li class="carousel-cell">
    <img src="https://homepages.cae.wisc.edu/~ece533/images/frymire.png" />
  </li>
  <li class="carousel-cell">
    <img src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" />
  </li>
  <li class="carousel-cell">
    <img src="https://homepages.cae.wisc.edu/~ece533/images/zelda.png" />
  </li>
</ul>
